    /* +++ index.html/Home page CSS +++ */

    body {
        display: inline-block;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    /* This selects the <div> containing the button and creates a box around it*/
    .btnwrapper {
        margin-top: 50px; /* This pushes the button wrapper <div> 50px down from the above element */
        display: flex;
        justify-content: center; /* Centers horizontally */
        align-items: center; /* Centers vertically */
        width: 600px; /*600px*/ /*100%*/ /* This causes the button wrapper to span across the width of the page */
        height: 300px; /* This sets the height of the <div> around the button to be 300px */
        border-radius: 10px; 
        transition: .4s ease-in; /* This creates a transition effect when the colour is changed */
        border: 2px solid black; /* This creates a border around the div containing the button */
        box-shadow: 10px 10px 20px #333, -10px -10px 20px #bbb; /* This creates a shadow around the box */
    }

    /* This selects the button in index.html, it is currently the only button on the site*/
    button {
        font-size: 2rem; /* This sets the size of the font, rem is used to assist the media queries */
        font-weight: 600; /* This makes the text of the button slightly thicker */
        border-radius: 20px;
        border: 2px solid black; /* Creates a border around the button, it is black and 2px thick */
        background-color: black; /* This sets the background colour of the button as black */
        color: white; /* This sets the colour of the font as white */
        cursor: pointer; /* This sets the cursor to a pointer when you hover over the button */
    }

    /* Selects the <div> with .clock-container as class*/
    .clock-container {
       width: 800px; /* Sets the width of the container */
       height: 180px; /* Sets the height of the container */
       position: relative; /* Sets the position relative to the other elements on the page */
       left: 25%; /* Moves the element away from the left of the page */
    }

    /* Selects the <div> with the class of clock, found inside .clock-container */
    .clock {
        width: 100%; 
        height: 100%; 
        background: rgba(235, 0, 255, 0.11);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    /* Selects the <span> tags within the <div> element with the class of clock*/
    .clock span {
        font-size: 80px;
        width: 110px;
        display: inline-block;
        text-align: center;
        position: relative;
    }

    .clock span::after {
        font-size: 16px;
        position: absolute;
        bottom: -5px;
        left: 50%;
        transform:translateX(-50%);
    }

    #hrs::after {
        content: 'H'
    }

    #mins::after {
        content: 'M'
    }

    #secs::after {
        content: 'S'
    }

    /* This is the CSS for the Counter app */

    .counter-container {
        text-align: center;
        padding: 20px;
    }

    .counter-header, h1 {
        margin-bottom: 10px;
    }

    .counter-header {
        font-size: 50px;
        margin-bottom: 10px;
    }

    button {
        padding: 10px 20px;
        cursor: pointer; 
    }