
    .btnwrapper {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%; /*600px*/ /*100%*/
        height: 300px;
        border-radius: 10px;
        transition: .4s ease-in;
        border: 2px solid black;
        box-shadow: 10px 10px 20px #333, -10px -10px 20px #bbb;
    }

    button {
        margin: auto;
        font-size: 2rem;
        font-weight: 600;
        border-radius: 20px;
        border: 2px solid black;
        background-color: black;
        color: white;
        padding: 10px;
        cursor: pointer;
    }
